/0312/nbproject/private/
/lab02/nbproject/private/
/lab01/build/
/lab2/nbproject/private/
/lab02/build/
/lab01/dist/
/finalProject/nbproject/private/
/unit04_as_students/build/
/finalProject/build/
/unit04_as_students/dist/
/lab02/dist/
/lab01/nbproject/private/
/unit04_as_students/nbproject/private/
/lab05/nbproject/private/
/lab05/build/
/lab05/dist/
/u06-lab02-time_app/build/
/u06-lab02-jsf/dist/
/ea_midterm_st/build/
/financialＭanagement/nbproject/private/
/medterm/nbproject/private/
/medterm/build/
/medterm/dist/
/lab07_demo/nbproject/private/
/lab07_demo/build/
/lab07_demo/dist/